@import "tailwindcss";
@import "./variables.css";

:root{
  color-scheme: dark;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

html,
body,
#root{
  width:100%;
  min-height:100%;
  background:var(--background);
  color:var(--text);
  font-family:Inter,sans-serif;
}

body{
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}

.cursor-none * {
  cursor: none !important;
}
